{
    "importOrder": [
        "^app/(.*)$",
        "^pages/(.*)$",
        "^processes/(.*)$",
        "^widgets/(.*)$",
        "^features/(.*)$",
        "^entities/(.*)$",
        "^shared/(.*)$",
        "^[./]"
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}